<!-- HEADER -->
<header>

  <div>
    <h1>Welcome to <img src="<%= asset_path( 'Codaisseurify_Logo2.png', class: "logo" ) %>" /></h1>
    <h3><strong>real</strong> music for <strong>real</strong> devs</h3>
  </div>


</header>
